@use '../../styles/theme.scss';

.container{
    position: relative;

    input{
        width: 100%;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        background: #ffffff;
        padding: 12px 20px;
        outline: 0;

        &:focus{
            border-color: theme.$primayColor;
        }
    }

    img{
        width: 20px;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    &.hasIcon{
        input{
            padding-left: 50px;
        }
    }
}