@use '../../../styles/theme.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;

    .foodCard {
        margin: 12px;
        width: calc(33.33% - 24px);
    }

    .pagination {
        margin: 20px 0 0;
        padding: 12px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                margin: 0 4px 0 0;
            }
        }
    }
}

.placeholder {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
    width: 100%;

    .placeholderItem{
        margin: 12px;
        width: calc(33.33% - 24px);
        height: 273px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: theme.$elementDefaultBorderRadius;
        background: #e5e5e5;
    }
}

.empty{
    font-weight: 400;
    font-style: italic;
    color: #666666;
    font-size: 22px;
}

.note{
    border-top: 1px solid #e5e5e5;
    padding-top: 40px;
    font-weight: 500;
    margin: 60px 0 24px;
    font-size: 20px;
    line-height: 30px;
    color: #888888;
}