@use '../../styles/theme.scss';
@use '../../styles/mixin.scss'; 

.container{
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 6px 20px;
    transition: transform linear 0.3s;

    &:hover{
        transform: scale(1.05);
    }

    .previewImage{
        background-color: #e5e5e5;
        padding-top: 60%;
        background-position: center;
        background-size: cover;
    }

    .promotion{
        width: 48px;
        height: 32px;
        border-bottom-right-radius: 12px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: 500;
        font-size: 13px;

        img{
            height: 60%;
        }

        &.discount{
            background: #ff696f;
        }

        &.onePlusOne{
            background: #8f64ff;
        }

        &.gift{
            background: #00b1ff;
        }
    }

    .info{
        padding: 20px;

        .name{
            font-size: 15px;
            line-height: 18px;
            margin: 0 0 10px;
            @include mixin.longTextProcessing;
        }

        .extra{
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .tag{
                background: #f7f8fa;
                padding: 6px 12px;
                border-radius: 6px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                @include mixin.longTextProcessing;

                img{
                    width: 16px;
                    margin-right: 6px;
                    margin-top: -1px;
                }

                &:not(:first-child){
                    margin-left: 8px;
                }

                &.new{
                    color: #5ccead;
                    font-weight: 500;
                }
            }
        }
    }
}