@font-face {
    font-family: DefaultFontFamily;
    src: url(../resources/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: DefaultFontFamily;
    font-weight: 500;
    src: url(../resources/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: DefaultFontFamily;
    font-weight: 600;
    src: url(../resources/fonts/Poppins/Poppins-SemiBold.ttf);
}