@font-face {
    font-family: DefaultFontFamily;
    src: url(../resources/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: DefaultFontFamily;
    font-weight: 500;
    src: url(../resources/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: DefaultFontFamily;
    font-weight: 600;
    src: url(../resources/fonts/Inter/Inter-SemiBold.ttf);
}