@import url('./font.scss');

* {
    font-family: DefaultFontFamily;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body{
    background: #f7f7f9;
}