.container{
    .mainContent{
        max-width: 975px;
        margin: auto;
        padding: 30px 30px;
        min-width: 320px;

        .header{
            margin: 0 0 45px;
        }

        .search{
            max-width: 312px;
            margin: 0 0 50px;
        }
    }
}