.container{
    .mainContent{
        width: 100%;
        width: 975px;
        margin: auto;

        .header{
            margin: 0 0 45px;
        }

        .search{
            max-width: 312px;
            margin: 0 0 50px;
        }
    }
}