@use '../../styles/theme.scss';

.container{
    button{
        border-radius: 0;
        color: #888888;
        font-size: 14px;

        &:not(:first-child){
            border-left: 0;
        }

        &:first-child{
            border-top-left-radius: theme.$elementDefaultBorderRadius;
            border-bottom-left-radius: theme.$elementDefaultBorderRadius;
        }

        &:last-child{
            border-top-right-radius: theme.$elementDefaultBorderRadius;
            border-bottom-right-radius: theme.$elementDefaultBorderRadius;
        }

        &.active{
            color: #000000;
        }
    }
}